@font-face {
  font-family: "Golden Sun";
  src: url('GOLDEN-SUN.TTF');
}

body, html{
    margin: 0px;
    width: 100%;
    height: 100%;
    background-color: #0F0;
    }
    body{
      font-smooth: never;
      font-family: 'Golden Sun';
      -webkit-app-region: drag;
      }

